<div class="blog-post wow fadeIn" data-wow-duration="2s">

  <!-- Image -->
  <a href="{{ post.url }}" class="post-img"><img src="{{post.featured_image}}" alt="{{post.title}}"></a>

  <div class="bp-content">

    <!-- Post Title -->
    <a href="{{ post.url }}" class="post-title"><h4>{{post.title}}</h4></a>
    
    <!-- Meta data -->
    <div class="post-meta">
      <span class="post-date">
        <i class="fa fa-calendar-o"></i>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
      </span>
      {% include post-author.html author=post.author %}
    </div><!-- / .meta -->

    <!-- Blurb -->
    <div class="post-excerpt">
      {{ post.description }}
    </div>

    <!-- Link -->
    <div class="text-right">
      <a href="{{ post.url }}" class="btn btn-small">Read More</a>
    </div>

  </div><!-- / .bp-content -->
</div><!-- / .blog-post -->
