<!-- ========== Footer ========== -->

<footer class="footer-widgets">

  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <small>&copy; 2016-2023 Convergence Labs, Inc.</small>
        </div>

        <div class="col-sm-6">
          <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
        </div>

      </div><!-- / .row -->
    </div><!-- / .container -->
  </div><!-- / .copyright -->

</footer><!-- / .footer-widgets -->