<!-- ========== Footer ========== -->

<footer class="footer-widgets">
  <div class="container">
    <div class="row section">

      <!-- About Us -->
      <div class="col-md-3 col-sm-6 mb-sm-100">
        <div class="widget about-widget">
          <h5 class="header-widget">About Us</h5>
          <p>Convergence Labs is a full service software development agency, specializing in real time collaboration, and the creators of the Convergence Real Time Collaboration Platform.</p>

          <ul class="social-links">
            <li><a href="https://www.facebook.com/ConvergenceTeam"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/ConvergenceTeam"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/convergence-labs-inc/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://medium.com/convergence-labs"><i class="fa fa-medium"></i></a></li>
            <li><a href="https://github.com/convergencelabs/"><i class="fa fa-github"></i></a></li>
          </ul>
        </div><!-- / .widget -->
      </div><!-- / .col-md-3 -->

      <!-- Instagram Feed -->
      <div class="col-md-3 col-sm-6 mb-sm-100">
        <div class="widget convergence-io-widget">
          <h5 class="header-widget">convergence.io</h5>
          <ul>
            <li><a href="https://convergence.io">https://convergence.io</a></li>
            <li><a href="https://convergence.io/demos/">Convergence Demos</a></li>
            <li><a href="https://examples.convergence.io/">Convergence Examples</a></li>
            <li><a href="https://convergence.io/learn/">Convergence Docs</a></li>
            <li><a href="https://admin.convergence.io">Admin Console</a></li>
          </ul>
        </div><!-- / .widget -->
      </div><!-- / .col-md-3 -->

      <!-- Latest Blog Posts-->
      <div class="col-md-3 col-sm-6 mb-sm-100">
        <div class="widget recent-posts-footer-widget">
          <h5 class="header-widget">Latest Blog Posts</h5>
          {% for post in site.posts limit:3 %}
          <div class="recent-post">
            <a href="{{ post.url }}" class="post-date"><span>{{ post.date | date: "%b %d, %Y" }}</span></a> |
            <a href="{{ post.url }}">{{post.title}}</a>
          </div>
          {% endfor %}
        </div><!-- / .widget -->
      </div><!-- / .col-md-3 -->

      <!-- Newsletter -->
      <div class="col-md-3 col-sm-6">
        <div class="widget newsletter-widget">
          <h5 class="header-widget">Newsletter</h5>

          <form action="https://www.getdrip.com/forms/62786386/submissions" class="mc-form subscribe-form" method="post" data-drip-embedded-form="62786386">
            <div class="form-group">

              <!-- Email -->
              <input type="email" id="drip-email" name="fields[email]" placeholder="Join our newsletter">

              <!-- Send Button -->
              <button type="submit" name="subscribe" class="mc-send-btn" data-drip-attribute="sign-up-button"><i class="fa fa-send-o"></i></button>
            </div>

            <!-- Ajax message -->
            <div class="subscribe-result"></div>
          </form>

        </div><!-- / .widget -->
      </div><!-- / .col-md-3 -->

    </div><!-- / .row -->
  </div><!-- / .container -->


  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <small>&copy; 2018 Convergence Labs, Inc.</small>
        </div>

        <div class="col-sm-6">
          <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
        </div>

      </div><!-- / .row -->
    </div><!-- / .container -->
  </div><!-- / .copyright -->

</footer><!-- / .footer-widgets -->