<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Convergence Labs{% if page.title %} - {{page.title}}{% endif %}</title>

  {% include meta-data.html %}

  <!-- Favicon -->
  <link rel="icon" type="image/ico" href="/assets/images/favicon/favicon.ico" sizes="48x48">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.min.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="/assets/fonts/et-lineicons/css/style.css">
  <link rel="stylesheet" href="/assets/fonts/linea-font/css/linea-font.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/fonts/century-gothic/css/style.css">
  <!-- Slider -->
  <link rel="stylesheet" href="/assets/styles/vendor/slick.css">
  <!-- Lightbox -->
  <link rel="stylesheet" href="/assets/styles/vendor/magnific-popup.css">
  <!-- Animate.css -->
  <link rel="stylesheet" href="/assets/styles/vendor/animate.css">

  <link href="/assets/styles/convergence.css" rel="stylesheet">

  <!-- JS -->
  <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body id="page-top">