<span class="post-author">By 
  {% assign multipleAuthors = include.author.first %}
  {% if multipleAuthors %}
    {% for author in include.author %}
      {% assign authorName = site.data.authors[author].name %}
      {% if forloop.first %}
      <a href="/blog/author/{{ author }}">{{ authorName }}</a>
      {% elsif forloop.last %}
        and <a href="/blog/author/{{ author }}">{{ authorName }}</a>
      {% else %}
        , <a href="/blog/author/{{ author }}">{{ authorName }}</a>
      {% endif %}
    {% endfor %}
  {% else %}
    {% assign author = site.data.authors[include.author] %}
    {% if author %}
      <a href="/blog/author/{{ include.author }}">{{ author.name }}</a>
    {% else %}
      {{ include.author }}
    {% endif %}
  {% endif %}
</span>