<!-- ========== Scripts ========== -->
<script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>

<script src="/assets/js/vendor/google-fonts.js" defer></script>
<script src="/assets/js/vendor/jquery.easing.js" defer></script>
<script src="/assets/js/vendor/jquery.waypoints.min.js" defer></script>
<script src="/assets/js/vendor/bootstrap.min.js" defer></script>
<script src="/assets/js/vendor/bootstrap-hover-dropdown.min.js" defer></script>
<script src="/assets/js/vendor/smoothscroll.js" defer></script>
<script src="/assets/js/vendor/jquery.localScroll.min.js" defer></script>
<script src="/assets/js/vendor/jquery.scrollTo.min.js" defer></script>
<script src="/assets/js/vendor/jquery.stellar.min.js" defer></script>
<script src="/assets/js/vendor/jquery.parallax.js" defer></script>
<script src="/assets/js/vendor/slick.min.js" defer></script>
<script src="/assets/js/vendor/jquery.easypiechart.min.js" defer></script>
<script src="/assets/js/vendor/countup.min.js" defer></script>
<script src="/assets/js/vendor/isotope.min.js" defer></script>
<script src="/assets/js/vendor/jquery.magnific-popup.min.js" defer></script>
<script src="/assets/js/vendor/wow.min.js" defer></script>
<script src="/assets/js/vendor/jquery.mb.YTPlayer.min.js" defer></script>
<script src="/assets/js/vendor/jquery.ajaxchimp.js" defer></script>

<script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
<script src="/assets/js/analytics.js"></script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="/assets/js/vendor/analytics/autotrack.js"></script>

<!-- Definity JS -->
<script src="/assets/js/main.js" defer></script>