---
---

@import "theme/main.scss";
@import "theme/responsive.scss";
@import "sharing-buttons.scss"; 


#services {
  .ft-item {
    color: white;
    background: #2d3f63;

    span, h4, a, p {
      color: white;
    }
  }
}

#welcome {
  header.sec-heading {
    margin-bottom: 50px;
  }
}

#developer-callout {
  text-align: center;
  background-color: $dark;
  color: $lighter;
  font-style: italic;
  border-top: 1px solid #555;
  padding: 5px 0 7px;
}

#process {
  .ft-item .ft-nbr {
    color: rgba(36, 90, 140, 0.4);

  }
}

#intro-bullets {
  font-size: 1.3em;
  margin-top: 2em;

  img {
    margin-bottom: 30px;
  }

  li {
    margin-bottom: 8px;
  }
}
@media (max-width: $screen-sm) {
  #intro-bullets .logo {
    display: none;
  }
}

.mission {
  background: whitesmoke;
  padding: 20px;
  text-align: justify;
  font-size: 16px;
  font-style: italic;
  color: black;
  margin-bottom: 80px;
}

.motivation {
  text-align: justify;
}

#about {
  .sec-heading {
    margin-bottom: 60px;
  }
}

.recent-posts-footer-widget {

  div.recent-post {
    margin-bottom: 10px;
    color: $body-text-color;

    a, a:active, a:visited {
      color: $body-text-color;
    }

    &:hover {
      color: white;

      a, a:active, a:visited {
        color: white;
      }
    }
  }
}

.convergence-io-widget {
  color: $body-text-color;

  ul {
    padding-left: 0;

    li {
      list-style: none;

      a, a:active, a:visited {
        color: $body-text-color;
      }

      a:hover {
        color: white;
      }
    }
  }
}

.hero-content {
  h1 {
    max-width: 600px;
  }

  h4 {
    display: inline-block;
    padding: 20px;
    background: rgba(128, 128, 128, 0.4);
  }
}

#convergence-overview {
  header.sec-heading {
    margin-bottom: 50px;
  }

  .convergence-overview {

    .overview-image {
      background: white;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      border-top: 1px solid #f8f8f8;
      margin-bottom: 2em;
    }

    ul {
      padding-left: 20px;

      li {
        list-style: none;

        &:before {
          display: inline-block;
          text-align: center;
          font-family: FontAwesome;
          content: "\f00c";
          margin-right: 10px;
        }
      }
    }
  }
}

.blog-post-content {
  blockquote {
    margin: 3em;
    border: 1px solid #eee;
    border-left: 4px solid #007bc3;
    font-style: italic;
    padding: 1em;
  }

  .cite { 
    text-align: left;
    word-break: break-word;
  }

  h3 {
    margin: 3em 0 1em;
  }
}
@media (max-width: $screen-sm) {
  .blog-post-content {
    blockquote {
      margin: 2em 1em 3em;
    }
    ul {
      text-align: left;
    }
  }
}

#blog .posts li {
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

#blog .affix {
  top: 100px;
}

.affix-bottom {
  position: relative;
}

.evergreen-post-content {
  h1, h2, h3, h4 { 
    text-transform: none; 
    letter-spacing: normal;
    color: #555;
    margin: 1em 0 0.5em;
  }

  table {
    margin-top: 1em;

    td, th {
      padding-right: 1em;
    }
  }

  .solution-category {
    margin-top: 2em;
    text-transform: uppercase;
  }

}

.sidebar-nav-widget {
  
}