---
---

@import "theme/main.scss";


#services {
  .ft-item {
    color: white;
    background: #2d3f63;

    span, h4, a, p {
      color: white;
    }
  }
}

#welcome {
  header.sec-heading {
    margin-bottom: 50px;
  }
}

#process {
  .ft-item .ft-nbr {
    color: rgba(36, 90, 140, 0.4);

  }
}

#intro-bullets {
  display: flex;
  align-items: center;
}

.mission {
  background: whitesmoke;
  padding: 20px;
  text-align: justify;
  font-size: 16px;
  font-style: italic;
  color: black;
  margin-bottom: 80px;
}

.motivation {
  text-align: justify;
}

#about {
  .sec-heading {
    margin-bottom: 60px;
  }
}

.recent-posts-footer-widget {

  div.recent-post {
    margin-bottom: 10px;
    color: $body-text-color;

    a:active, a:visited {
      color: $body-text-color;
    }

    &:hover {
      color: white;

      a:active, a:visited {
        color: white;
      }
    }
  }
}