---
---

@import "theme/main.scss";


#services {
  .ft-item {
    color: white;
    background: #2d3f63;

    span, h4, a, p {
      color: white;
    }
  }
}

#welcome {
  header.sec-heading {
    margin-bottom: 50px;
  }
}

#process {
  .ft-item .ft-nbr {
    color: rgba(36, 90, 140, 0.4);

  }
}

#intro-bullets {
  display: flex;
  align-items: center;
}
