---
---

@import "theme/main.scss";
@import "sharing-buttons.scss";


#services {
  .ft-item {
    color: white;
    background: #2d3f63;

    span, h4, a, p {
      color: white;
    }
  }
}

#welcome {
  header.sec-heading {
    margin-bottom: 50px;
  }
}

#process {
  .ft-item .ft-nbr {
    color: rgba(36, 90, 140, 0.4);

  }
}

#intro-bullets {
  display: flex;
  align-items: center;
}

.mission {
  background: whitesmoke;
  padding: 20px;
  text-align: justify;
  font-size: 16px;
  font-style: italic;
  color: black;
  margin-bottom: 80px;
}

.motivation {
  text-align: justify;
}

#about {
  .sec-heading {
    margin-bottom: 60px;
  }
}

.recent-posts-footer-widget {

  div.recent-post {
    margin-bottom: 10px;
    color: $body-text-color;

    a, a:active, a:visited {
      color: $body-text-color;
    }

    &:hover {
      color: white;

      a:active, a:visited {
        color: white;
      }
    }
  }
}

.convergence-io-widget {
  color: $body-text-color;

  ul {
    padding-left: 0;

    li {
      list-style: none;

      a, a:active, a:visited {
        color: $body-text-color;
      }

      a:hover {
        color: white;
      }
    }
  }
}

.hero-content {
  h4 {
    display: inline-block;
    padding: 20px;
    background: rgba(128, 128, 128, 0.4);
  }
}

#convergence-overview {
  header.sec-heading {
    margin-bottom: 50px;
  }

  .convergence-overview {
    display: flex;
    align-items: center;

    .overview-image {
      background: white;
      padding: 20px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      border-top: 1px solid #f8f8f8;
    }

    ul {
      padding-left: 20px;

      li {
        list-style: none;

        &:before {
          display: inline-block;
          text-align: center;
          font-family: FontAwesome;
          content: "\f00c";
          margin-right: 10px;
        }
      }
    }
  }
}