
@font-face {
  font-family: 'CenturyGothic';
  src: url('fonts/century-gothic/fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),  
       url('fonts/century-gothic/fonts/CenturyGothic.woff') format('woff'), 
       url('fonts/century-gothic/fonts/CenturyGothic.ttf')  format('truetype'), 
       url('fonts/century-gothic/fonts/CenturyGothic.svg#CenturyGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
