---
layout: default
---

{% assign subtitle = "Category: " | append: page.title %}
{% include page-title.html title="The Convergence Labs Blog" subtitle=subtitle %}

<div id="blog" class="section container blog-classic">
  <div class="row">
    <div class="col-md-8 category-posts">
      <p class="title">
        {{ page.posts.size }} posts categorized <em>{{ page.title }}</em>:
      </p>
      <ul class="posts">
        {% for post in page.posts %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <aside class="col-md-offset-1 col-md-3 sidebar">
      {% include blog-nav.html %}
    </aside>
  </div>
</div>